/* Tag Cloud */

.tagcloud
{
    text-align: left;
    margin-top:3%;
    margin-bottom:4%;
    margin-left:3%;
    margin-right:0%
}

.inner-endorse-home {
    background-image: url('../Content/image/Home_endorse.png');
    background-repeat: no-repeat;
    background-size: auto;
    color: #FFFFFF;
    min-height: 30px;
    min-width: 35px;
    text-align: center;
    padding-top: 3px;
    margin-left:0px;
}
.tagcloud a
{
    padding: 0px 10px 0px 0px;
    text-decoration:none;
    padding:9px 4px;
    white-space:nowrap;
    color:#DA5D53;
}

.tagDiv {
     border-bottom: 1px solid #DEE1BA;
     border-top: 1px solid #DEE1BA;
     background-color: #FFFFE5;
}

.tagcloud .tag10
{
    font-size: 32px;
    font-weight:bold;
}

.tagcloud .tag9
{
    font-size: 30px;
    font-weight:bold;
}

.tagcloud .tag8
{
    font-size: 28px;
    font-weight:bold;
}

.tagcloud .tag7
{
    font-size: 26px;
    font-weight:bold;
}

.tagcloud .tag6
{
    font-weight:bold;
    font-size: 24px;
}

.tagcloud .tag5
{
    font-size: 22px;
    font-weight:bold;
}

.tagcloud .tag4
{
    font-size: 20px;
    font-weight:normal;
}

.tagcloud .tag3
{
    font-size: 18px;
    font-weight:bold;
}

.tagcloud .tag2
{
    font-size: 16px;
    font-weight:bold;
}

.tagcloud .tag1
{
    font-size: 14px;
    font-weight:bold;
}

.tagcloud .tag0
{
    font-weight:bold;
    font-size: 12px;
}

.tagAcnhor {
    font-weight: normal;
    font-size: 13px;
    float: right;
    margin-right: 2%;
    color: #302F2F;
    margin-top:3%
}

.tagPara {
    margin-left: 0% !important;
    margin-bottom: 5% !important;
    margin-top: 5%;
    color: #757575;
    line-height:18px;
    font-size:11px
}
@media only screen and (max-width: 480px) {
    .tagcloud {
        text-align: left;
        margin-top: 7%;
        margin-bottom: 4%;
        margin-left: 3%;
        margin-right: 0%;
    }
}
@media (min-width: 768px) and (max-width: 1025px) {
     .tagcloud {
        text-align: left;
        margin-top: 7%;
        margin-bottom: 4%;
        margin-left: 3%;
        margin-right: 0%;
    }
}
@media(max-width:764px) {
     .tagcloud {
        text-align: left;
        margin-top: 6%;
        margin-bottom: 4%;
        margin-left: 3%;
        margin-right: 0%;
    }
}