

@{
    ViewBag.Title = "NoPrivilegeError";
    if (Session["UserId"] == null)
    {
        Layout = "~/Views/Shared/_AskmiraiMasterLayout.cshtml";
    }
    else
    { 
    Layout = "~/Views/Shared/_PatientMasterLayout.cshtml";
    }
}
<div class="row-fluid">
    <div class="span12 main-outter-padding">
        <div class=" ">
            <div id="controlcontainer" class="wrapper-bordered" visible="true">
                <div class="row-fluid">
                    <div class="span12">
                        <label id="lblMessage" class="span12 alert alert-error error_message_color msg_font">Sorry ! You do not have privileges to access this page.Please contact the administrator if you think this is an error.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>