@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_AskmiraiMasterLayout.cshtml";
}
<script type="text/javascript" src="../Scripts/bootstrap-dropdown.js"></script>
<div class="row-fluid">
    <div class="span6 main-outter-padding toppaddingHome finddoc-title">
        Privacy Policy
    </div>
</div>
<div class="row-fluid">
    <div class="span12 main-outter-padding margin_bottom">
        <p style="text-align: justify;">
            Mirai Health is committed to respecting your privacy. We believe in the benefits of better

            health information. Because sharing information online is new we fully appreciate the sensitivity and personal nature of this data. This Privacy policy is made by us to answer

            some of these concerns. We take reasonable steps to see that it is followed. When you sign-up to any of Mirai Health’s services (Mirai Consult&#8482;, Mirai Connect&#8482; and Mirai Care&#8482;), you

            verify that you have read and agreed to our privacy policy.
        </p>

        <h4>Collection of Personally Identifiable Information and other Information</h4>

        <p>
            When you use our service, we collect and store your personal information that is provided by you from time to time. Our primary goal in doing so is to provide you a

            safe, efficient, smooth and customized experience. This allows us to provide services and features that most likely meet your needs, and to customize our service to make

            your experience safer and easier. More importantly, while doing so we collect personal information from you that we consider necessary for achieving this purpose.
        </p>

        <h4>Use of your information</h4>

        <p>
            Mirai Health may use some of the information that does not identify you to improve the service. No information provided by you will be sold, traded, or leased to any other

            organization and at any stage.
        </p>

        <p>If there is any change in our privacy policy we will place an updated version on this page. </p>

        <p>If you have comments or questions about our privacy policy, please send them to <a style="color:blue;" href="mailto:service@miraihealth.com" target="_top">service@miraihealth.com</a></p>
    </div>
</div>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48132984-2', 'askmirai.com');
    ga('send', 'pageview');
</script>

