@model IEnumerable<TagCloud.Tag>

@{
    ViewBag.Title = "TagCloud";
    Layout = null;
}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Scripts/google-code-prettify/prettify.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="Stylesheet" href="~/Content/bootstrap-responsive.css" />
    <link rel="Stylesheet" href="~/Content/bootstrap-responsive.min.css" />
    <link rel="Stylesheet" href="~/Content/chosen/chosen.css" />
    <link rel="stylesheet" href="~/Content/custom.css" />
    <link rel="stylesheet" href="~/Content/datepicker.css" />
    <link href="~/Content/TagClasses.css" rel="stylesheet" />
  
</head>
<body style="background-image:none !important">
    <div id="wrap" style="background-color:#e5e5e5">
        <div style="padding-right:40px">
            <div class="row-fluid">
                <div class="span12">
                    <p class="tagcloud tagcloud-margin" style="line-height: 23px;margin:0px !important">
                        @foreach (var t in Model )
                        {
                            <a target="_blank" style="color: #333333 !important;" href='@(t.NavigateUrl)' class='@(t.CssClass)' title='@(t.ToolTip + " " + t.TagWeight + " Answers")'>@t.Text</a>
                        }
                        <a href="~/topics" class="tagAcnhor" style="color: #222324;font-size:14px" target="_blank">view more...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

