@model IEnumerable<TagCloud.Tag>
@{
    ViewBag.Title = "Topics";
    if (Session["UserId"] != null)
    {
        Layout = "~/Views/Shared/_PatientMasterLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_AskmiraiMasterLayout.cshtml";
    }
}

<link href="../Content/tokenfield-typeahead.css" rel="stylesheet" />
<link href="../Content/bootstrap-tokenfield.css" rel="stylesheet" />
<link href="../Content/TagClasses.css" rel="stylesheet"/>
<link href="../Content/less/tokenfield-typeahead.less"></link>
<link href="../Content/less/bootstrap-tokenfield.less"></link>
<link href="../Content/custom.css" rel="stylesheet" />
<script type="text/javascript" src="../Scripts/bootstrap-tokenfield.js"></script>
<div class="row-fluid">
    <div class="span12 main-outter-padding">
        <div class="row-fluid">
            <div class="span12 finddoc-title">
                Topics
            </div>
        </div>
        <div class="content_border topics-bg-color divmargin_bottom" style="padding-left:20px;">
            <div class="row-fluid">
                <div class="span12">
                    <div class="control-group" id="divTags">
                        <p class="tagcloud">
                            @foreach (var t in Model)
                            {
                                <a href='@(t.NavigateUrl)' class='@(t.CssClass)' title='@(t.ToolTip + " "+t.TagWeight+" Answers")'>@t.Text</a>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>