.modal-title {
  text-align: center;
}

.pay-amount {
  width: 15%;
  display: initial;
}

.pay-amount-by {
  width: 70%;
  display: initial;
}

.pay-amount-by-non-edit {
  width: 70%;
  display: initial;
}

.doctor-location-select{
  min-width: 160px;
}

.validation-msg-color {
  color: red;
}

#directives-calendar {
  width: 98%;
  margin: 1%;
}

#doctor-location {
  margin: 1%;
}

.prepay-symbol-red {
  color: red;
}

.prepay-symbol-green {
  color: rgb(8, 153, 8);
}

.date-time-picker-size {
  width: 158px !important;
  display: initial;
}

.date-time-edit-picker-size{
  width: 44.5%;
  display: initial;
}

.time-picker-size
{
  width: 100px !important;
  height: 30px !important;
}

.date-picker-left-margin {
  left: 1%;
}

.prepay-date-size {
  width: 142px !important;
  display: initial;
}

.prepay-time-size {
  width: 158px !important;
  display: initial;
}

#pre-pay-size ul
{
    height: 85px !important;
    overflow-y: auto !important;
}

.left-right-margin
{
  font-size: small;
  margin-left: 8px;
  margin-right: 8px;
}

.date-picker-text-indent
{
    text-indent: 4px;
}

.time-picker-text-indent
{
    text-indent: 10px;
}

.search_box{
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.prepay-past-date-size{
  width: 41%;
}

.prepay-past-time-size{
  width: 30%;
}

.bootbox
{
  padding-top: 100px;
}

.bootbox .modal-body
{
  height: 10vh;
}

.bootbox .btn-ok
{
  margin-right: 5px;
}

.rupee-sticker {
    float: right;
    background-color: #fffff0;
    padding: 2px 5px;
    margin-right: 3px;
    border-radius: 50%;
    border: 1px solid gray;
    vertical-align: bottom;
}

