.pay-amount {
  width: 15%;
  display: initial;
}

.pay-amount-by {
  width: 70%;
  display: initial;
}

.pay-amount-by-non-edit {
  width: 70%;
  display: initial;
}

#directives-calendar {
  width: 90%;
  margin: 5%;
}

#doctor-location {
  margin: 1%;
}

.validation-msg-color {
  color: red;
}

.doctor-location-select{
  min-width: 160px;
}

/*.fc-agendaWeek-view tr {
    height: 40px;
}

.fc-agendaDay-view tr {
    height: 40px;
}*/