@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactDetail</title>
    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.custom.min.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
<body>
    <br /><br /><br /><br />
    <div class="row-fluid center_align">
        <div class="span12">
            <h4 id="ContactDetail">
                1800-365-361
            </h4>
        </div>
    </div>
    <br /><br /><br />
    <div class="row-fluid center_align">
        <div class="span12">
            <button class="btn thanx cust-red " onclick="closeDialog(); return false;">Ok</button>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    function closeDialog() {
        parent.closeDialog();
    }
</script>
