@{
    Layout = null;
}

<!DOCTYPE html>

<html class="bg-white">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactDetail</title>
    <script type="text/javascript" src="../Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
<body class="bg-white">
    <div id="hidden-phone" class="bg-white doc-detail-word-break center_align" style="padding: 6px;">
        <div id="bookappt" class="row-fluid center_align bg-white " >
            <div class="span12 answer-title doc-detail-word-break center_align margin-null" >
                Book Appointment
            </div>
        </div>
        <div class="row-fluid center_align bg-white margin-null">
            <div class="span12 answer-title doc-detail-word-break center_align margin-null">
                To book an appointment call on
            </div>
        </div>
        <div class="row-fluid center_align bg-white">
            <div class="span12 answer-title doc-detail-word-break center_align ">
                <p class="center_align" style="margin:0px">07666 252 444</p>
            </div>
        </div>
        <div class="row-fluid center_align bg-white">
            <div class="span12 center_align">
                <button class="btn thanx cust-red " style="padding:4px 30px;" onclick="closeDialog(); return false;"><b>OK</b></button>
            </div>
        </div>
    </div>
    <div id="visible-phone" class="bg-white doc-detail-word-break "style="padding-top: 16px;" >
        <div id="bookappt" class="row-fluid center_align bg-white ">
            <div class="span12 answer-title doc-detail-word-break center_align book-appt-small-font margin-null">
                Book Appointment
            </div>
        </div>
        <div class="row-fluid center_align bg-white">
            <div class="span12 answer-title doc-detail-word-break center_align book-appt-small-font margin-null">
                <p class="center_align margin-null">
                    To book an appointment call on
                </p>
            </div>
        </div>
        <div class="row-fluid center_align bg-white">
            <div class="span12 answer-title doc-detail-word-break center_align book-appt-small-font margin-null">
                <p class="center_align margin-null">
                    07666 252 444
                </p>
            </div>
        </div>
        <div class="row-fluid center_align bg-white">
            <div class="span12">
                <button class="btn thanx cust-red " style="padding:2px 19px;" onclick="closeDialog(); return false;"><b>OK</b></button>
            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Content/js/utility.js"></script>
<script type="text/javascript">
    if (isMobile.any()) {
        $('#hidden-phone').hide()
    }
    else{
        $('#visible-phone').hide()
    }
    function closeDialog() {
        parent.closeDialog();
    }
</script>
