<div class="navigation unreg_patientmenubar">
    <ul class="nav nav-tabs nav-stacked bs-docs-sidenav affix">
        <li id="liSimilarQuestions"><a href="../patient/similarquestions.aspx"><i class="icon-search"></i> Search Questions</a></li>
        <li id="liOurDoctors"><a href="../patient/finddoctor.aspx"><i class="icon-stethoscope"></i> Our Doctors</a></li>
    </ul>
</div>