<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="AsquareMiraiConnectionString" connectionString="Data Source=10.10.10.41;Initial Catalog=AsquareMirai_test;Persist Security Info=True;User ID=sa;Password=vertis!2#" providerName="System.Data.SqlClient" />
    <add name="EFModelContext" connectionString="data source=10.10.10.41;initial catalog=AsquareMirai_test;persist security info=True;user id=sa;password=vertis!2#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="elmah" connectionString="Data Source=10.10.10.41;Initial Catalog=Asquaremirai_Errorlog;User Id=Elmah;Password=vertis!2#;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="defaultUrl" value="http://10.10.10.7:8001/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EmailVerificationLink" value="http://10.10.10.7:8001/User/Verifyemail" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DocConnectApptUrl" value="http://connect.s.miraihealth.com/app/book/appointment.aspx?doc=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DoctorPhotosPath" value="C:\MiraiHealth\Consult_staging\Content\image\DoctorPhotos" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AnswerPhotosPath" value="C:\MiraiHealth\Consult_staging\Content\image\answerImages" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BookAppointmentLink" value="http://10.10.10.7:8001/app/book/appointment.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="website" value="http://10.10.10.7:8001" />
    <add key="FacebookAppKey" value="1504592109758014" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CcavenueUrl" value="http://Secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WorkingKey" value="7DED0DE9D83F2C1B5211BE5DD0527EE1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AccessCode" value="AVPE05CG50AD02EPDA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMSGatewayUserName" value="aakashganju@gmail.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMSGatewayPassword" value="AsquareVerti" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SMSGatewaySenderID" value="DMIRAI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <customErrors mode="On" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Home/Static404"/>
    </customErrors>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="Services.UserService">
        <host>
          <baseAddresses xdt:Transform="Replace">
            <add baseAddress="http://10.10.10.7:8001/Services/UserService.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client xdt:Transform="Replace">
      <endpoint address="http://10.10.10.7:8001/services/LoginService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService1" contract="LoginServiceReference1.ILoginService" name="BasicHttpBinding_ILoginService1" />
    </client>
  </system.serviceModel>
</configuration>