<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

  </configSections>
  <connectionStrings>
    <add name="AsquareMiraiConnectionString" connectionString="Data Source=SQL2012\SQLEXPRESS;Initial Catalog=AsqaureMirai;Persist Security Info=True;User ID=sa;Password=Vertis!2#" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="NumberOfRecored" value="5"/>
    <add key="constr" value="server=10.10.10.36\SQLEXPRESS;uid=sa;pwd=Vertis!2#;database=AsqaureMirai;"/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="SuperAdminEmailId" value="super@admin.com"/>
    <add key="SuperAdminUserPassword" value="admin!2#4"/>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ContactUsEmail" value="priyanka.p@vertisinfotech.com"/>
    <add key="ErrorEmailID" value="priyanka.p@vertisinfotech.com"/>
    
   <add key="isSMTPAuthentication" value="true"/>
   
   <add key="UNAUTHENTICATEDSMTPSERVER" value="10.10.10.11"/>
    
   <add key="SMTPSERVER" value="smtpout.secureserver.net" />
    <add key="SmtpServerUsername" value="service@miraihealth.com" />
    <add key="SmtpServerPassword" value="ServiceMiraiHealth0114" />
    <add key="SMTPPort" value="25" />
   <add key="isUseDefaultCredentials" value="false"/>
   <add key="isEnableSSl" value="true"/>
   
    <add key="defaultUrl" value="http://localhost:53706/"/>
    <add key="NumberOfRecoredonQuestionList" value="50"/>
    <add key="SuperAdminUserPassword" value="admin!2#4"/>
    <add key="ResetPasswordLink" value="http://localhost:53706/reset-password"/>
    <add key="DocApproveNotificationTextMsg" value="Hello, your Mirai Consult account has been validated. You are now ready to login and use our services. Mirai Health Team (service@miraihealth.com)"/>
    <add key="DocRejectNotificationTextMsg" value="Hello, your registration request has been rejected by the administrator. Mirai Health Team (service@miraihealth.com)"/>
    <add key="OnDocAssignQuestionSendEmail" value="A user has addressed the following question to you."/>
    <add key="OnDocAssignQuestionSendSMS" value="Hello, Admin has assigned a question to you, please check your account and send us your best answer. Mirai Health Team (service@miraihealth.com)"/>
    <add key="OnDocAnswerAssignQuestionSendEmail" value="On behalf of MiraiHealth and our patient community, thank you for answering the question"/>
    <add key="OnDocAnswerQuestionSendSMS" value="Hello, On behalf of Mirai Health and the user, thank you for answering the question. Mirai Health Team (service@miraihealth.com)"/>
    <add key="OnPatientThankSendEmail" value="We are pleased to inform you that the user has thanked you for answering the question."/>
    <add key="OnPatientThankSendSMS" value="Hello, We are pleased to inform you that the user has thanked you for answering the question. Mirai Health Team (service@miraihealth.com)"/>
    <add key="OnRemoveQuestionFromListEmail" value="Hello, Your question was considered inappropriate and has been rejected by the administrator."/>
    <add key="OnRemoveQuestionFromListSMS" value="Hello, Your question was considered inappropriate and has been rejected by the administrator. Mirai Health Team (service@miraihealth.com)"/>
    <add key="FromEmail" value="noreply@vertisinfotech.com"/>
    <add key="OnDoctorEndoresedSendSMS" value="Hello, We are pleased to inform you that the doctor has endorsed you for answering the question. AskMirai Services Team"/>
    <add key="MiraiHealthEmail" value="mailto:ask@miraihealth.com"/>
    <add key="websiteUrl" value="consult.miraihealth.com"/>
    <add key="shareMessage" value="has invited you to Mirai Consult"/>
    <add key="DocConnectApptUrl" value="http://demo.vertisinfotech.com:7171/myDoctorEnhancement/app/book/appointment.aspx?doc="/>
    <add key="EmailVerificationLink" value="http://demo.vertisinfotech.com:7171/myDoctorEnhancement/app/book/appointment.aspx?doc="/>
    <add key="DoctorPhotosUrl" value="http://localhost:53706/Content/image/DoctorPhotos/"/>
    <add key="DoctorPhotosPath" value="F:\Projects\consult-mvc\MiraiConsultMVC\Content\image\DoctorPhotos"/>
    <add key="FacebookAppKey" value="1480281325544968"/>
    <add key="askMiraiLink" value="http://localhost:53706/"/> 
    <add key="NumberOfRecored" value="5"/>
    <add key="NumberOfTags" value="20"/>
    <add key="AnswerPhotosPath" value="F:\Projects\consult-mvc\MiraiConsultMVC\Content\image\answerImages"/>
    <add key="BookAppointmentLink" value="http://demo.vertisinfotech.com:7171/myDoctorEnhancement/app/book/appointment.aspx"/>
    <add key="website" value="consult.miraihealth.com"/>
  </appSettings>

  <system.web>
    <globalization culture="en-US" uiCulture="en"/>
    <customErrors mode="On" >
      <error statusCode="404" redirect="~/Home/Static404" />
      </customErrors>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="/login" timeout="2880"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
   
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ILoginService1" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="StreamedRequestWebBinding" bypassProxyOnLocal="true" useDefaultWebProxy="false" hostNameComparisonMode="WeakWildcard" sendTimeout="10:15:00" openTimeout="10:15:00" receiveTimeout="10:15:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" transferMode="StreamedRequest">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="Services.UserService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
         bindingConfiguration="StreamedRequestWebBinding" contract="Services.IUserService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:53706/Services/UserService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
          <endpoint address="http://localhost:58390/services/LoginService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService1"
              contract="LoginServiceReference1.ILoginService" name="BasicHttpBinding_ILoginService1" />
      </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>