<!-- <h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<p><%= link_to "About", '/about' %></p>
-->
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script> -->
<!-- <%= javascript_include_tag "daypilot-all.min" %> -->
<!-- <script type="text/javascript" src="/js/lib/underscore-min.js"></script> -->



<script src="javascript/calender/daypilot-all.min.js" type="text/javascript"></script>
<script type="text/javascript" src="javascript/pages/pages.js"></script>

<div ng-app="main" ng-controller="DemoCtrl" >
  <daypilot-calendar id="dp" daypilot-config="config" daypilot-events="events" ></daypilot-calendar>
  <div>
      New event:
      <button ng-click="add()">Add</button>
  </div>
  <div>
      First event:
      <button ng-click="move()">Move</button>
      <button ng-click="rename()">Rename</button>
  </div>
  <div>
      Object:
      <button ng-click="message()">Show Message</button>
  </div>
  <div>
      Events array (debug):
      <div ng-repeat="item in events">
          {{item}}
      </div>

  </div>
</div>

