USE [AsquareMirai]
GO
/****** Object:  StoredProcedure [dbo].[get_AllQuestionsByTagSEO]    Script Date: 8/18/2014 5:05:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================

-- Author:		<priyanka priyadarshni>

-- Create date: <Create Date,,>

-- Description:	<Description,,>

-- =============================================

ALTER PROCEDURE [dbo].[get_AllQuestionsByTagSEO] 
		@TagSEOText varchar(200)

   ,	@questionStatus int		

AS

BEGIN

Declare @tempQuestion as table
(
   id int primary key identity(1,1),

   QuestionsRowNumber int,

   doctorname varchar(200),

   questionid int,

   questiontext varchar(200),

   counts varchar(100),

   createdate datetime,

   answertext varchar(500),

   image varchar(200),

   RowNumber int
)

   insert into @tempQuestion
   SELECT top 10 ROW_NUMBER() OVER (ORDER BY createdate asc) as QuestionsRowNumber,*
	FROM ( SELECT 'Dr. ' + users.firstname + ' ' + users.lastname as doctorname, questions.questionid,
	questions.questiontext,'' as counts,questions.createdate, answers.answertext,answers.image,ROW_NUMBER() OVER (PARTITION BY questions.questionid ORDER BY questions.createdate desc) AS RowNumber
	FROM answers INNER join users ON answers.userid = users.userid Right outer join questions ON answers.questionid = questions.questionid Inner JOIN
	questiontags ON questions.questionid = questiontags.questionid INNER JOIN 
	tag ON questiontags.tagid = tag.tagid where questions.status = @questionStatus and tag.tag_seo = @TagSEOText
	)AS a
	WHERE a.RowNumber = 1

Declare @count varchar(10)
Declare @questionid int
Declare @id int

select @count=count(*) from @tempQuestion
set @id=1

	while(@count>0)
		BEGIN  
			select @questionid=questionid from @tempQuestion where id=@id
			declare @anscount varchar(50)
			select @anscount=count (*) from answers where answers.questionid=@questionid
			if(@anscount>0)
				BEGIN
				    update @tempQuestion set counts=@anscount-1 where id=@id
				END
			set @id+=1
			set @count-=1
		END
select doctorname ,questionid,questiontext, case when counts = '' then 'No answers received' when counts = 0 then doctorname + ' answered'  else doctorname + ' answered and ' + counts + ' others answered ' END as counts, answertext, image  from @tempQuestion
END
