
GO
/****** Object:  UserDefinedFunction [dbo].[RemoveSpecialChars]    Script Date: 8/22/2014 12:42:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ======================================================================================
-- Author:		Ravindra Kale
-- ALTER date: 22/8/2014
-- Description:	Remove special character form string and returns equivalent string
-- =======================================================================================
ALTER function [dbo].[RemoveSpecialChars] (@s varchar(200)) returns varchar(200)
   with schemabinding
begin
   if @s is null
      return null
   declare @s2 varchar(200)
   set @s2 = ''
   declare @l int
   set @l = len(@s)
   declare @p int
   set @p = 1
   while @p <= @l begin
      declare @c int
      set @c = ascii(substring(@s, @p, 1))
      if @c between 48 and 57 or @c between 65 and 90 or @c between 97 and 122 or @c = 45
         set @s2 = @s2 + char(@c)
      set @p = @p + 1
      end
   if len(@s2) = 0
      return null
   return @s2
   end