.modal {
  margin: auto;
  bottom: inherit;;
}

.modal-dialog {
  width: auto;
  margin: 0px;
  border: none;
}

.modal-backdrop {
  bottom:0;
}

.modal-header {
  padding: 1%;
}

.modal-title {
  text-align: center;
}

.form-control {
  height: 5% !important;
}

.pay-amount {
  width: 15%;
}

.pay-amount-by {
  width: 70%;
}

#directives-calendar {
    padding:50px;
}