.modal {
  margin: auto;
  bottom: inherit;
  width: 60%;
}

.modal-dialog {
  width: auto;
  margin: 0px;
  border: none;
}

.modal-backdrop {
  bottom:0;
}

.modal-header {
  padding: 1%;
}

.modal-title {
  text-align: center;
}

.pay-amount {
  padding: 0;
}

.pay-amount-by {
  padding: 0;
}

.margin-top-8 {
    margin-top: 8px;
}