@{
    Layout = "~/Views/Shared/_AskmiraiMasterLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    {
        <div class="row-fluid">
            <div class="span12 main-outter-padding">
                @if (ViewBag.Message != null && ViewBag.Message == "Sorry, this link has already been used.")
                {
                    <div id="message" class="span12  alert alert-error">
                        <label id="lblMessage" class="msg_font">@ViewBag.Message</label>
                    </div>
                }
                else
                {
                    <div id="message" class="span12 alert alert-success">
                        <label id="lblMessage" class="msg_font">@ViewBag.Message</label>
                    </div>
                }
            </div>
        </div>
        <script src="~/Content/js/jquery-1.9.0.min.js"></script>
        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/google-code-prettify/prettify.js"></script>
    }
}