<html lang="en" ng-app="BookAppointmentApp" id="top">
<head>
  <title>AngularUI Calendar for AngularJS</title>
  <link rel="icon" href="img/favicon.ico" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min 1.css" /> -->
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
  <link rel="stylesheet" href="css/posts/BookAppointment.css" />
  <link type="text/css" rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="css/lib/angular-flash.min.css" />
  <link type="text/css" rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
  <link type="text/css" rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css" rel="stylesheet" />

  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
  <script src="javascript/calender/calendar.js"></script>
  <script type="text/javascript" src="javascript/lib/underscore-min.js"></script>
  <script type="text/javascript" src="javascript/lib/angular-underscore.min.js"></script>
  <script src="javascript/posts/doctorLocationFetch.js" type="text/javascript"></script>
  <script src="javascript/posts/BookAppointment.js" type="text/javascript"></script>
  <script src="javascript/posts/BookAppointmentModal.js" type="text/javascript"></script>
  <script src="javascript/posts/paMenu.js" type="text/javascript"></script>
  <script src="javascript/lib/angular-flash.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-select/dist/select.js"></script>
  <script type="text/javascript" src="bower_components/angular-dateparser/dist/angular-dateparser.js"></script>
  <script type="text/javascript" src="bower_components/angular-timepicker/src/angular-timepicker.js"></script>
  <script type="text/javascript" src="bower_components/ng-idle/angular-idle.min.js"></script>
  <script type="text/javascript" src="javascript/lib/bootbox.min.js"></script>
  <script type="text/javascript" src="javascript/lib/angular-bootbox.js"></script>
  <script type="text/javascript" src="bower_components/ng-table/dist/ng-table.min.js"></script>
</head>
<body>
  <div class="row search_box">
    <div id='doctor-location' ng-controller="doctorLocationFetchCtrl" class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <form class="form-horizontal" role="form" novalidate>
            <div class="form-group">
              <label for="doctorName" class="control-label col-sm-5">Doctor Name: *</label>
              <div class="col-sm-7">
                <ui-select ng-model="doctor.selected" theme="bootstrap" ng-disabled="disabled" on-select="getLocations(doctor.selected.id)" style="width:auto">
                <ui-select-match placeholder="----- Select -----" allow-clear="true">{{$select.selected.firstname}}  {{$select.selected.lastname}}</ui-select-match>
                <ui-select-choices repeat="doctor in doctors | propsFilter: {firstname: $select.search, lastname: $select.search} | orderBy: ['firstname', 'lastname']">
                  <div ng-bind-html="doctor.firstname + ' ' + doctor.lastname | highlight: $select.search"></div>
                </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-6">
          <form class="form-horizontal" role="form" novalidate>
            <div class="form-group">
              <label for="clinicName" class="control-label col-sm-4">Clinic Location: *</label>
              <div class="col-sm-8">
                <ui-select ng-model="location.selected" theme="bootstrap" ng-disabled="disableLocation" on-select="fetchCalenderForDoctorLocation(location.selected.id)" style="width:auto">
                <ui-select-match placeholder="----- Select -----" allow-clear="true">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="location in locations | propsFilter: {name: $select.search}">
                  <div ng-bind-html="location.name | highlight: $select.search"></div>
                </ui-select-choices>
                </ui-select>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-2">
          <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
              <h3 class="modal-title">Delay Appointments</h3>
            </div>
            <div class="modal-body">
              <form name="appointmentEditForm" class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="control-label col-sm-3" for="name">Date: *</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control prepay-date-size date-picker-text-indent" id="dateSelectedToEdit" datepicker-popup ng-model="current_date" show-button-bar="false" show-button-bar="false" is-open="is_open_calendar" ng-required="true" ng-change="populateTimeSlot()"/>
                    <button type="button" class="form-control btn btn-default calendar-button-margin" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="name">Select Slot: *</label>
                  <div class="col-sm-5">
                    <select class="form-control" ng-init="slotSelected = slotTimimgs[0].time" ng-model="slotSelected" convert-to-number ng-options="slot.time as slot.time for slot in slotTimimgs" >
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="name">Time: *</label>
                  <div class="col-sm-9" id="prepay-time">
                    <input type="text" name="time_delay" class="form-control prepay-date-size" placeholder="0.0" maxlength="3" ng-model="time_delay" ng-required="paymentSelected"/>
                  </div>
                </div>
              </form>
            </div>
            <div>
              <table id="delayedAppts" class="table table-bordered" ng-show="lastdelays.length">
                <tr>
                  <th>Date</th>
                  <th>Delay</th>
                  <th>Delayed By</th>
                  <th>Slot</th>
                </tr>
                <tr ng-repeat="lastdelay in lastdelays">
                  <td>lastdelay.date</td>
                  <td>lastdelay.delay</td>
                  <td>lastdelay.delayedby</td>
                  <td>lastdelay.slot</td>
                </tr>
              </table>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
              <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
          </script>
          <div class="btn-group" dropdown keyboard-nav>
            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" dropdown-toggle>
              Menu <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
              <li role="menuitem"><a href="/User/logout">Logout</a></li>
              <li class="divider"></li>
              <li role="menuitem" ng-click="delay_appointment()"><a>Delay Appointments</a></li>
              <li role="menuitem" ng-click="getTodaysSchedule()"><a>Today's Schedule</a></li>
              <li role="menuitem" ng-click="showCalendar()"><a>Appointment Calendar</a></li>
            </ul>
          </div>
        </div>
      </div>
        <div class="row">
            <div id="todays_schedule" ng-show="show_todays_schedule && doctor && location.selected">
                <h3>Dr. {{doctor.firstname}}  {{doctor.lastname}}</h3>
                <h4>{{location.selected.name}} - {{todays_date}}</h4>
                <table ng-table="" show-filter="false" class="todays_schedule table table-responsive table-striped">
                    <tr ng-repeat="row in todays_appointments">
                        <td title="'Time'" header-class="'text-left'" class="text-left">{{row.time}}</td>
                        <td title="'Appointment Details'" header-class="'text-left'" class="text-left">
                            <span ng-if="row.appointmenttype == 'Patient Appointment'">
                                <b>{{row.patientname}} </b>{{row.patientname != "" ? "Ph.:" : ""}} {{row.patientmobile}}<br />{{row.subject}}
                                {{row.prepayamount > 0 && row.ispaid ? ("[Prepay: Rs. " + row.prepayamount + " paid.]") : ""}}
                                {{row.prepayamount > 0 && !row.ispaid ? ("[Prepay: Rs." + row.prepayamount + " not paid.]") : ""}}
                                <span ng-if="row.prev_appt_on != ''">
                                    <br />Patient's previous appointment: {{row.prev_appt_on}}
                                </span>
                            </span>
                            <span ng-if="row.appointmenttype != 'Patient Appointment'">
                                Blocked: {{row.subject}}
                            </span>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>
  <div class="row-fluid">
    <div id="directives-calendar" ng-controller="BookAppointmentCtrl">
      <div class="docloc-table">
        <table id="clinicLocations" align="center" ng-if="clinics.length" ng-show="showCalendar && locationId == -1" class="table table-bordered">
          <tr>
            <th>Clinic Location</th>
            <th>Working Hours</th>
            <th>SU</th>
            <th>MO</th>
            <th>TU</th>
            <th>WE</th>
            <th>TH</th>
            <th>FR</th>
            <th>SA</th>
          </tr>
          <tr ng-repeat="clinic in clinics" ng-if="clinic.name != All">
            <td>{{ clinic.name }}</td>
            <td>{{ clinic.fromtime }} to {{ clinic.totime }}</td>
            <td><i class="{{ clinic['Sunday'] ? 'fa fa-check' : '' }}"></i></td>
            <td><i class="{{ clinic['Monday'] ? 'fa fa-check' : '' }}"></i></td>
            <td><i class="{{ clinic['Tuesday'] ? 'fa fa-check' : '' }}"></i></td>
            <td><i class="{{ clinic['Wednesday'] ? 'fa fa-check' : '' }}"></i></td>
            <td><i class="{{ clinic['Thursday'] ? 'fa fa-check' : '' }}"></i></td>
            <td><i class="{{ clinic['Friday'] ? 'fa fa-check' : '' }}"></i></td>
            <td><i class="{{ clinic['Saturday'] ? 'fa fa-check' : '' }}"></i></td>
          </tr>
        </table>
      </div>
      <div flash-message="5000"></div>
      <div ng-show="$root.showCalendar">
        <div id="calender-show">
          <!-- <link href="css/calender/font-awesome.css" rel="stylesheet"> -->
          <script type="text/ng-template" id="appointmentBooking.html">
            <div class="modal-header">
              <div class="modal-title">Book Appointment</div>
              <center class="error validation-msg-color" ng-show="submitted">Please Enter All Required Fields !</center>
            </div>
            <div class="modal-body">
              <form name="appointmentForm" class="form-horizontal" role="form" novalidate>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Appt For:</label>
                  <div class="col-sm-9">
                    <label class="radio-inline"> <input type="radio" ng-model="radioAppointment.selected_type" ng-value=1 ng-change="changeType()"> Doctor </label>
                    <label class="radio-inline"> <input type="radio" ng-model="radioAppointment.selected_type" ng-init="radioAppointment.selected_type = 2" ng-value=2 ng-change="changeType()"> Patient </label>
                  </div>
                </div>
                <div ng-show="showPatient">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Patient Name: *</label>
                    <div class="col-sm-9">
                      <!-- <input type="text" class="form-control" name="name" ng-click="submitted = false" id="patientName" ng-model="patientName" placeholder="Name" required> -->
                      <ui-select ng-model="patient.selected" theme="bootstrap" name="name" ng-disabled="disabled" on-select="fillPatientDetails()" reset-search-input="false" ng-required="patientNameEntered">
                      <ui-select-match placeholder="Select Patient Name" allow-clear="true">{{$select.selected.name}}</ui-select-match>
                      <ui-select-choices repeat="patient in patientsInfo | propsFilter: {name: $select.search}" refresh="refreshPatientNames($select.search)" refresh-delay="0">
                        <div ng-bind-html="patientDetails(patient) | highlight: $select.search"></div>
                      </ui-select-choices>
                      </ui-select>
                      <span class="error validation-msg-color" ng-show="appointmentForm.name.$error.required" ng-if='appointmentForm.name.$dirty'>Please Enter Patient Name !</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="number">Mobile Number: *</label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" name="mobile_number" ng-click="submitted = false" id="patientNumber" ng-model="patientNumber" placeholder="1234" required ng-minlength=8 ng-maxlength=10>
                      <span class="error validation-msg-color" ng-show="appointmentForm.mobile_number.$error.required" ng-if='appointmentForm.mobile_number.$dirty'>Please Enter Mobile Number !</span>
                      <span class="error validation-msg-color" ng-show="appointmentForm.mobile_number.$error.number">Please Enter Valid Mobile Number !</span>
                      <span class="error validation-msg-color" ng-show="appointmentForm.mobile_number.$error.minlength || appointmentForm.mobile_number.$error.maxlength">Mobile Number should be 8 to 10 number</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Email: </label>
                    <div class="col-sm-9">
                      <input type="email" name="email" ng-readonly="patient.registered" class="form-control" id="patientEmail"  ng-model="patientEmail" placeholder="my.email@mirai.com" aria-label="Readonly field">
                      <span class="error validation-msg-color" ng-show="appointmentForm.email.$error.email">Please Enter Valid Email !</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="date">Date Selected: </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="dateSelected" ng-disabled=true>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Subject: </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="subjectSelected" ng-model="subjectSelected" placeholder="Brief Description">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Pre-pay: </label>
                    <div class="col-sm-9">
                      <input id="prepay" class="checkbox-inline" type="checkbox" name="need_pre_pay" value="" ng-model="paymentSelected">
                      <i class="fa fa-inr"></i>
                      <input type="text" name="prepay_amt" class="form-control pay-amount" placeholder="0.0" maxlength="8" ng-model="prepayAmount" ng-disabled="!paymentSelected" ng-required="paymentSelected"/> by
                      <input type="text" class="form-control prepay-date-size date-picker-text-indent" id="dateSelectedToEdit" datepicker-popup show-button-bar="false" ng-model="prepay_date" is-open="opened" min-date="minDate" max-date="maxDate" ng-disabled="!paymentSelected" ng-required="true" />
                      <button type="button" class="form-control btn btn-default calendar-button-margin" ng-disabled="!paymentSelected" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      <span id="prepay-time">
                        <input type="text" name="prepay_time" class="form-control prepay-time-size prepay-time-left-margin time-picker-text-indent" placeholder="Time" id="fromTimeEdit" ng-click="submitted = false" dn-timepicker ng-model="prepay_time" ng-disabled="!paymentSelected"/>
                      </span>
                      <span class="error validation-msg-color" ng-show="appointmentForm.prepay_amt.$error.required" ng-if='appointmentForm.prepay_amt.$dirty'>Please enter prepay amount. </span>
                      <span class="error validation-msg-color" ng-show="appointmentForm.prepay_time.$error.is_valid_prepay">Please select pre-pay time in future and before the appointment time. </span>
                    </div>
                  </div>
                  <!-- Patient div ends here -->
                </div>
                <div ng-show="!showPatient">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="date">Date Selected: </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" ng-model="dateSelected" ng-disabled=true>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Subject: </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="subjectSelected" ng-model="subjectSelected" placeholder="Brief Description">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Appointment Type*</label>
                    <div class="col-sm-9">
                      <select ng-init="updatedObject = appointmentTypes[0].id" class="form-control" ng-model="updatedObject" ng-options="value.id as value.label group by value.group for value in appointmentTypes" convert-to-number></select>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Selected: <b>{{ selected_event.start }}</b> -->
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">OK</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
          </script>
          <script type="text/ng-template" id="appointmentBookingEdit.html">
            <div class="modal-header">
              <div class="modal-title">Edit Booked Appointment</div>
            </div>
            <div class="modal-body">
              <form name="appointmentEditForm" class="form-horizontal" role="form">
                <div ng-show="showPatient">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Patient Name: *</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="patientName" ng-model="patientName" ng-disabled="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="number">Mobile Number: *</label>
                    <div class="col-sm-9">
                      <input type="number" class="form-control" id="patientNumber" ng-model="patientNumber" ng-disabled="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Email: </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="patientEmail" ng-model="patientEmail" ng-disabled="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Date: *</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control prepay-date-size date-picker-text-indent" id="dateSelectedToEdit" datepicker-popup ng-model="current_date" show-button-bar="false" show-button-bar="false" is-open="is_open_calendar" ng-required="true" />
                      <button type="button" class="form-control btn btn-default calendar-button-margin" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Time: *</label>
                    <div class="col-sm-9" id="prepay-time">
                      <input type="text" class="form-control prepay-time-size time-picker-text-indent" id="fromTimeEdit" dn-timepicker ng-model="startTime" step="{{slot}}" min-time="{{minTime}}" max-time="{{maxFromTime}}" />
                      <span class="left-right-margin">TO</span>
                      <input type="text" name="validity" class="form-control prepay-time-size time-picker-text-indent" id="toTimeEdit" dn-timepicker ng-model="endTime" step="{{slot}}" min-time="{{minTime}}" max-time="{{maxToTime}}" />
                      <span class="error validation-msg-color" ng-show="appointmentEditForm.validity.$error.sametime">Please Enter Different From or To Time !</span>
                      <span class="error validation-msg-color" ng-show="appointmentEditForm.validity.$error.invalidtime">From Time Must Be Less Than To Time !</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Subject: </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="subjectSelected" ng-model="subjectSelected" placeholder="Brief Description">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Pre-pay: </label>
                    <div class="col-sm-9">
                      <input id="prepay" class="checkbox-inline" type="checkbox" name="need_pre_pay" value="" ng-model="paymentSelected">
                      <i class="fa fa-inr" ng-class="check_if_paid"></i>
                      <input type="text" name="prepay_amt" class="form-control pay-amount" placeholder="0.0" maxlength="8" ng-model="prepayAmount" ng-disabled="!paymentSelected" ng-required="paymentSelected"/> by
                      <input type="text" class="form-control prepay-date-size date-picker-text-indent" id="dateSelectedToEdit" datepicker-popup show-button-bar="false" ng-model="prepay_date" is-open="is_open_prepay_calendar" min-date="minDate" max-date="maxDate" ng-disabled="!paymentSelected" ng-required="true" />
                      <button type="button" class="form-control btn btn-default calendar-button-margin" ng-disabled="!paymentSelected" ng-click="openPrePayCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      <span id="prepay-time">
                        <input type="text" name="prepay_time" class="form-control prepay-time-size prepay-time-left-margin time-picker-text-indent" placeholder="Time" id="fromTimeEdit" dn-timepicker ng-model="prepay_time" ng-disabled="!paymentSelected"/>
                      </span>
                      <span class="error validation-msg-color" ng-show="!paymentSelected && appointmentEditForm.prepay_amt.$error.required" ng-if='appointmentEditForm.prepay_amt.$dirty'>Please enter prepay amount. </span>
                      <span class="error validation-msg-color" ng-show="appointmentEditForm.prepay_time.$error.is_valid_prepay">Please select pre-pay time in future and before the appointment time. </span>
                    </div>
                  </div>
                  <!-- Patient div ends here -->
                </div>
                <div ng-show="!showPatient">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Date: *</label>
                    <div class="col-sm-9">
                      <input type="text" class="prepay-date-size date-picker-text-indent" id="dateSelectedToEdit" datepicker-popup show-button-bar="false" is-open="is_open_calendar" ng-model="current_date"
                      ng-required="true" />
                      <button type="button" class="form-control btn btn-default calendar-button-margin" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Time: *</label>
                    <div class="col-sm-9" id="prepay-time">
                      <input type="text" class="form-control prepay-time-size time-picker-text-indent" id="fromTimeEdit" dn-timepicker ng-model="startTime" step="{{slot}}" min-time="{{minTime}}" max-time="{{maxFromTime}}" />
                      <span class="left-right-margin">TO</span>
                      <input type="text" name="validity" class="form-control prepay-time-size time-picker-text-indent" id="toTimeEdit" dn-timepicker ng-model="endTime" step="{{slot}}" min-time="{{minTime}}" max-time="{{maxToTime}}" />
                      <span class="error validation-msg-color" ng-show="appointmentEditForm.validity.$error.sametime">Please Enter Different From or To Time !</span>
                      <span class="error validation-msg-color" ng-show="appointmentEditForm.validity.$error.invalidtime">From Time Must Be Less Than To Time !</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Subject: </label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="subjectSelected" ng-model="subjectSelected" placeholder="Brief Description">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Appointment Type*</label>
                    <div class="col-sm-9">
                      <select class="form-control" ng-model="updatedObject" ng-options="value.id as value.label group by value.group for value in appointmentTypes" convert-to-number>
                        <option value="">{{current_appt}}</option>
                    </select>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Selected: <b>{{ selected_event.start }}</b> -->
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">OK</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
              <button class="btn btn-danger" ng-click="delete()">Delete</button>
            </div>
          </script>
          <script type="text/ng-template" id="appointmentBookingPastTime.html">
            <div class="modal-header">
              <div class="modal-title">Past Date Appointment</div>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" role="form">
                <div ng-show="showPatient">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Patient Name: *</label>
                    <div class="col-sm-9">
                      <div class="form-control" id="patientName" ng-model="patientName">{{patientName}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="number">Mobile Number: *</label>
                    <div class="col-sm-9">
                        <div class="form-control" id="patientNumber" ng-model="patientNumber">{{patientNumber}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="email">Email: </label>
                    <div class="col-sm-9">
                        <div class="form-control" id="patientEmail" ng-model="patientEmail">{{patientEmail}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Date: *</label>
                    <div class="col-sm-9">
                        <div class="form-control" id="dateSelectedToEdit" ng-model="dateSelectedToEdit">{{dateSelectedToEdit}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Time: *</label>
                    <div class="col-sm-3">
                        <div class="form-control" id="fromTimeEdit" ng-model="fromTimeEdit">{{fromTimeEdit}}</div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-control" id="toTimeEdit" ng-model="toTimeEdit">{{toTimeEdit}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Subject: </label>
                    <div class="col-sm-9">
                      <div class="form-control" id="subjectSelected" ng-model="subjectSelected">{{subjectSelected}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Pre-pay: </label>
                    <div class="col-sm-9">
                      <input id="prepay" class="checkbox-inline" type="checkbox" name="need_pre_pay" value="" ng-model="paymentSelected" ng-disabled="true">
                      <i class="fa fa-inr"></i>
                      <input type="text" class="form-control pay-amount" placeholder="0.0" maxlength="8" ng-model="prepayAmount" ng-disabled="true"> by
                      <input type="text" class="form-control pay-amount-by-non-edit prepay-past-date-size" ng-model="prepaydateSelectedToEdit" ng-disabled="true">
                      <input type="text" class="form-control pay-amount-by-non-edit prepay-past-time-size" ng-model="prepayTimeEdit" ng-disabled="true">
                    </div>
                  </div>
                  <!-- Patient div ends here -->
                </div>
                <div ng-show="!showPatient">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Date: *</label>
                    <div class="col-sm-9">
                      <div class="form-control" id="dateSelectedToEdit">{{dateSelectedToEdit}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Time: *</label>
                    <div class="col-sm-3">
                      <div class="form-control" id="fromTimeEdit" ng-model="fromTimeEdit">{{fromTimeEdit}}</div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-control" id="toTimeEdit" ng-model="toTimeEdit">{{toTimeEdit}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Subject: </label>
                    <div class="col-sm-9">
                      <div class="form-control" id="subjectSelected" ng-model="subjectSelected">{{subjectSelected}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="name">Appointment Type*</label>
                    <div class="col-sm-9">
                      <select class="form-control" ng-model="updatedObject" ng-options="value.id as value.label group by value.group for value in appointmentTypes" convert-to-number ng-disabled="true"></select>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Selected: <b>{{ selected_event.start }}</b> -->
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">OK</button>
              <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
          </script>
          <!-- <div ui-calendar="calendarOptions" ng-model="eventSources" calendar="myCalendar"></div> -->
          <!-- <div class="alert-success" ng-show="alertMessage != undefined && alertMessage != ''">
            <h4>{{alertMessage}}</h4>
          </div> -->
          <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="appointmentBookingCalendar" id="appointmentBookingCalendar"></div>
        </div>
      </div>
    </div>
  </div>
</body>
